/*!
 * Zpirit gridsystem
 * @package xlbil
 */
$grid-items:
	5 5, 
	8 8.333, 
	10 10, 
	12 12.5, 
	15 15, 
	16 16.666, 
	20 20, 
	25 25, 
	30 30, 
	33 33.333, 
	35 35, 
	40 40, 
	45 45, 
	50 50, 
	55 55, 
	60 60, 
	65 65, 
	66 66.666, 
	70 70, 
	75 75, 
	80 80, 
	83 83.33, 
	85 85, 
	90 90, 
	95 95, 
	100 100;
@each $item in $grid-items {
	.grid#{nth($item, 1)} {
		float: left;
		width: #{nth($item, 2)}#{%};
		margin-left: 0;
		margin-right: 0;
		padding-left: 10px;
		padding-right: 10px;
	}
}

.floater {
	float: left;
	width: auto;
}
.grid {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

.nopadd {
	padding-left: 0;
	padding-right: 0;
}
.nopadd-right {
	padding-right: 0;
}
.nopadd-left {
	padding-left: 0;
}
.gridcenter {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
.gridright {
	float: right;
}

// Easing Cubic bezier
$easing: (
  easeInSine: cubic-bezier(0.47, 0, 0.745, 0.715),
  easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1),
  easeInOutSine: cubic-bezier(0.445, 0.05, 0.55, 0.95),
  easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53),
  easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94),
  easeInOutQuad: cubic-bezier(0.455, 0.03, 0.515, 0.955),
  easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19),
  easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1),
  easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1),
  easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22),
  easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1),
  easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1),
  easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06),
  easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1),
  easeInOutQuint: cubic-bezier(0.86, 0, 0.07, 1),
  easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035),
  easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1),
  easeInOutExpo: cubic-bezier(1, 0, 0, 1),
  easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335),
  easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1),
  easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86),
  easeInBack: cubic-bezier(0.6, -0.28, 0.735, 0.045),
  easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275),
  easeInOutBack: cubic-bezier(0.68, -0.55, 0.265, 1.55)
);
@function easeme($type) {
	@return map-get($easing, $type)
}

// clearfix
.clear {
	*zoom: 1;

	&:before,
	&:after {
		display: table;
		content: ' ';
	}
	&:after {
		clear: both;
	}
}

// Breakpoints
$breakpoints: (
	xsmall: (small:    0px, large:  480px),
	small:  (small:  320px, large:  720px),
	medium: (small:  720px, large:  991px),
	large:  (small:  991px, large: 1280px),
	xlarge: (small: 1280px, large: 1600px)
);
@function page-break($break) {
	$point: map-get($breakpoints, $break);
	@return map-get($point, large);
}
// COMMON RESPONSIVE CLASSES
@each $media, $mix in $breakpoints {
	@media all and (min-width: map-get($mix, small) ) and (max-width: map-get($mix, large)) {
		.hide-#{$media} {
			display: none;
		}
		.show-#{$media} {
			display: block;
		}
	}
}
// Breakpoints
$phone: (320px, 480px);
$smartphone: (481px, 767px);
$tablet: (768px, 1024px);
$desktop: (1025px, 1920px);
$tv: (1921px, 7684px);

// Ultimate media query mixin
// usage 
// @include breakpoint($phone){} = @media (min-width: 320px) and (max-width: 480px) {}
// @include breakpoint(nth($phone,2), 'min-width'){} = @media (min-width: 480px) {}
// @include breakpoint($phone, '', landscape){} = @media (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {}
@mixin breakpoint( $point, $minmax: max-width, $orientation: false ) {
	@if $orientation {
		@if length( $point ) == 2 {	
			@media (min-width: nth( $point, 1 )) and (max-width: nth( $point, 2 )) and (orientation: $orientation) {
				@content;
			}
		}
		@else if length( $point ) == 1 {
			@media ($minmax: $point) and (orientation: $orientation) {
				@content
			}
		}
		@else {
			@error "There is a maximum of 2 breakpoints in my mixin, biatch!"
		}
	}
	@else {
		@if length( $point ) == 2 {	
			@media (min-width: nth( $point, 1 )) and (max-width: nth( $point, 2 )) {
				@content;
			}
		}
		@else if length( $point ) == 1 {
			@media ($minmax: $point) {
				@content
			}
		}
		@else {
			@error "There is a maximum of 2 breakpoints in my mixin, biatch!"
		}
	}
}

// No grid floats on small screens
@media screen and (min-width: page-break(small)) and (max-width: page-break(medium)) {
	.grid-medium-3 {
		width: 33.333%;
	}
	.grid-medium-2 {
		width: 50%;
	}
}
@media only screen and (max-width: page-break(small) ) {
	*[class*=grid] {
		float: none;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.grid-small-2 {
		width: 50%;
	}
	.nopadd-right {
		padding-right: 1em;
	}
	.nopadd-left {
		padding-left: 1em;
	}
}
