/*!
 * XLBil CSS Styles
 * @author Zpirit <support@zpirit.no>
 * @package xlbil
 */

// color map, 
// keys prefixed with color- to avoid css color names
$colors: (
	blue: #0069B4,
	green: #27ae60,
	grey-light: #F5F5F5,
	grey: #B5B5B5,
	grey-dark: #626262,
	black: #333333,
	black-n-blue: #2e4053, 
	red: #e74c3c,
	orange: #ffba00, 
	redlight: #d41111,
	white: #ffffff
);
@function colorme($color) {
	@return map-get($colors, $color);
};

// Breakpoints reference
// $phone: (320px, 480px);
// $smartphone: (481px, 767px);
// $tablet: (768px, 1024px);
// $desktop: (1025px, 1920px);
// $tv: (1921px, 7684px);

// vars
$bodyfont: 'Open Sans', Arial, sans-serif;

@import 'assets/css/normalize';
@import 'assets/css/zpiritgrid';
@import 'assets/css/font-awesome-4.7.0/scss/font-awesome';
@import 'assets/css/flexslider-2.6.3';
@import 'assets/css/select2';
@import 'assets/css/jquery.fancybox';

//SETUP DOCUMENT
*,
*:after,
*:before {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility
}

//Root font size 10px
html {
	font-size: 62.5%;
	height: 100%; // for sticky footer
}

body {
	font: 400 1em/1.4 $bodyfont;
	color: colorme(black);
	height: 100%; // for sticky footer
	overflow-x: hidden;

	&.no-scroll {
		display: block;
		height: 100%;
		overflow: hidden;
	}
}

 // for sticky footer the old trusted way, IE sucks!!!
#wrapper {
	min-height: 100%;
	padding-bottom: 217px; // +30 for some margin in the footer
	margin-bottom: -187px;

	.no-scroll & {
		display: block;
		height: 100%;
		overflow: hidden;
	}
}

/**
 * TYPOGRAPHY
 */
@each $h, $s in ( h1: 3.2em, h2: 2.6em, h3: 2.2em, h4: 1.8em, h5: 1.6em, h6: 1.6em) {
	#{$h} {
		font-size: $s;
		font-weight: 400;
		line-height: 1.2;
		margin: 0.6em 0;
	}
}
p, address {
	font-size: 1.6em;
	margin: 0.8em 0;
}

address {
	font-style: normal;
	line-height: 1.6;
}

a {
	color: colorme(blue);
	text-decoration: none;
}

.color-grey {
	color: colorme(grey);
}

/**
 * HELPERS
 */
img {
	max-width: 100%;
	height: auto;
}

svg {
	max-width: 100%;
}

.hidden {
	display: none;
}

.relative {
	position: relative;
}

.seperator {
	display: block;
	background: colorme(grey);
	width: calc(100% - 20px);
	height: 1px;
	margin: 2em auto;
}

@each $el in (
	('fixme', '#FF7F1F'), 
	('done', '#3fdf9f'), 
	('todo', '#3f9fdf') ) {
		.#{nth($el, 1)} {
			background: #{nth( $el, 2 )};
			padding: 0 0.5em;
			font-weight: 400;
			font-size: 14px;
		}
}
.devnote {
	color: colorme(grey);
	font-size: 12px;
}

/**
 * Buttons
 */
.btn {
	display: inline-block;
	background: none;
	min-width: 200px;
	text-align: center;
	text-decoration: none;
	font-size: 1.6em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border: none;
	outline: none;
	transition: all 360ms ease-in-out;

	&.block {
		width: 100%;
	}
	&.spaced {
		margin-right: 1em;
	}
	&.blue {
		background: colorme(blue);
		color: colorme(white);

		&:hover,
		&:focus {
			background: colorme(grey);
		}
	}
	&.grey {
		background: colorme(grey);
		color: colorme(white);
		
		&:hover,
		&:focus {
			background: colorme(blue);
		}
	}
	&.red {
		background: colorme(redlight);
		color: colorme(white);

		&:hover,
		&:focus {
			background: colorme(blue);
		}
	}
	&.green {
		background: colorme(green);
		color: colorme(white);

		&:hover,
		&:focus {
			background: colorme(blue);
		}
	}

	@media screen and (max-width: page-break(small)) {
		font-size: 1.4em;
	}
	@media all and (max-width: page-break(xsmall)) {
		min-width: 140px;
	}
}
.btn-row {
	margin-bottom: 2em;
}
.blue-text {
	color: colorme(blue);
}
a.btn,
input[type="button"].btn,
input[type="submit"].btn,
input[type="btn"].btn {
	padding-left: 2em;
	padding-right: 2em;

	@media screen and (max-width: page-break(small)) {
		padding-left: 0;
		padding-right: 0;
	}
}
.text-right {
	text-align: right;
}

.ui-list {
	list-style: disc;
	padding-left: 1em;
	font-size: 1.6rem;
}
/**
 * MAIN flexbox for sticky footer
 */
main {
	flex: 1;
}

/**
 * Content row
 */
.row {
	width: 96%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.spacer {
	margin-top: 5em;
	margin-bottom: 5em;
}

/**
 * MAIN HEADER
 */
.main-header {
	background-color: colorme(blue);
}

/**
 * LOGO
 */
.main-logo {
	display: block;
	max-width: 200px;
	margin-top: 3.5em;
	margin-bottom: 3.5em;

	img {
		min-width: 160px;
		max-width: 200px;
	}

	@media screen and (max-width: page-break(small)) {
		height: 50px;
		margin-left: 0;

		img {
			position: absolute;
			z-index: 98;
		}
	}
}

/**
 * Mobile menu toggler
 */
#toggleMainNav {
	$box: 26px;
	display: none;
	position: absolute;
	top: 1em;
	right: 1em;
	width: $box + 15;
	height: $box + 10;
	padding: 0;
	z-index: 99;
	outline: none;
	
	> span {
		display: block;
		position: relative;
		top: 5px;
		width: $box + 5;
		height: $box - 5;
		margin: 0 auto;
		
		> span {
			position: absolute;
			top: 50%;
			background: colorme(white);
			width: 100%;
			height: 2px;
			margin-top: -1px;
			transition: opacity 1.2s ease;
		}
		
		> span:first-child {
			top: 0;
			margin: 0;
		}
		
		> span:last-child {
			top: 100%;
			margin-top: -2px;
		}
	}
	
	&.scramble {
		span > span {
			top: 50%;
			margin-top: 0;
			transition: top 0.4s ease, transform 0.6s ease 0.4s;
		}
		span > span:first-child {
			transform: rotate(45deg);
		}
		span > span:nth-child(2) {
			opacity: 0;
		}
		span > span:last-child {
			transform: rotate(-45deg);
		}
	}

	@media screen and (max-width: page-break(small)) {
		display: block;
	}
}

/**
 * NAV wrapper for mobile usage
 */
.header-nav {
	display: flex;
	flex-flow: column;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		
		a {
			color: colorme(white);
			text-decoration: none;

			li.active a {
				font-weight: bold;
				text-decoration: underline;
			}
		}
	}

	// mobile coockie link
	.mobile-cookies {
		display: none;
		font-size: 1.7em;
		margin: 1em 0;

		a {
			padding: 0.75em 0.9em;
		}
	}
	// Top bar navigation
	.top-nav {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		list-style: none;
		padding: 0;
		margin: 0;
		
		li {
			float: left; // for old ass browsers
		}
	
		a {
			display: inline-block;
			color: colorme(colorme(white));
			text-decoration: none;
			font-size: 1.4em;
			padding: 1em 0 1em 1em;
			margin-left: 1em;

			i {
				position: relative;
				top: 0.15em;
				font-size: 1.3em;
			}
		}
		li.active a {
			font-weight: bold;
			text-decoration: underline;
		}
	}

	// Main nav elements
	.main-nav-field {
		display: flex;
		flex-flow: row nowrap;

		ul {
			padding: 0;
			margin: 0;
			list-style: none;
		}	
	}

	.search-form-wrapper {
		float: right;
		position: relative;
		width: 76%;
		height: 30px;
		font-size: 1.4em;
		margin-top: 0.4em;
		overflow: hidden;

		// search form
		.main-search-form {
			position: relative;
			top: -10%;
			left: -10%;
			width: 120%;
			max-width: 999px;
			height: 120%;

			input {
				width: 100%;
				height: 100%;
				color: colorme(blue);
				padding: 0 0 0 12%;
				margin: 0;
			}
			button {
				position: absolute;
				top: 10%;
				right: 10%;
				background: colorme(colorme(white));
				color: colorme(blue);
				font-size: 1.4em;
				padding: 0;
				border: none;
				outline: none;
			}
		}
	}

	// the primary navigation
	.main-nav {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-end;
		text-align: right;
		font-size: 1.8em;

		 li {
			// display: inline-block;
		 }

		 a {
			display: inline-block;
			color: colorme(colorme(white));
			text-decoration: none;
			font-weight: 700;
			padding: 0.5em 0 0.5em 0.5em;
			margin-left: 0.5em;
		 }
	}

	@media screen and (max-width: page-break(medium)) {
		.main-nav {
			font-size: 1.35em;
		}
	}
	@media screen and (max-width: page-break(small)) {
		position: fixed;
		top: 0;
		right: -150%;
		background: colorme(grey-dark);
		width: 100%;
		width: 100vw;
		height: 100vh;
		padding: 5em 0 2em;
		flex-flow: column-reverse;
		justify-content: flex-end; // reversed colums, see one line up
		transition: right 0.6s easeme(easeOutExpo);
		z-index: 97;
		
		&.active {
			right: 0%;
		}

		.mobile-cookies {
			display: flex;
		}

		.top-nav {
			justify-content: center;

			li {
				width: 33.333%;
			}
			a {
				width: 100%;
				text-align: center;
				padding: 1em 0;
				margin: -1px 0 0 -1px;
				border: 1px solid colorme(grey);

				i {
					display: none;
				}
			}
			li:nth-of-type(2) a {
				margin: -1px 0 0 -2px;
			}
			li:nth-of-type(3) a {
				width: calc(100% + 4px);
				margin: -1px 0 0 -3px;
			}
		}

		.main-nav-field {
			flex-flow: column wrap;
			padding-top: 7em;
		}
		.search-form-wrapper {
			width: 100%;
			height: 40px;
			
			.main-search-form {

				input {
					color: colorme(black);
					padding-left: 10.5%;
					margin: 0;
				}
				button {
					top: 17%;
					right: 10.4%;
				}
			}
		}
		.main-nav {
			flex-flow: row wrap;
			justify-content: flex-start;
			text-align: left;
			font-size: 1.7em;

			li {
				width: 100%;
			}
			a {
				display: block;
				padding: 1em;
				margin: 0;
				border-bottom: 1px solid colorme(grey);
			}
		}
	}
}

/**
 * Top bar on home page
 */
.top-bar {
	background: colorme(grey-light);

	h1 {
		margin-bottom: 0.1em;
	}
	p {
		color: colorme(grey-dark);
	}
}

.plate-number {
	position: relative;
	width: 100%;
	height: 64px;
	margin-top: 3em;
	border: 1px solid colorme(grey);
	border-radius: 6px;
	overflow: hidden;

	.plate-blue-bar {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		background: colorme(blue);
		width: 42px;
		height: 100%; 
		text-align: center;
		color: colorme(white);
		font-weight: 700;
		font-size: 2em;

		img {
			display: block;
			width: 70%;
			margin: 26% auto 0;
		}
	}

	form {
		width: 110%;
		max-width: 999px;
		height: 110%;
		padding: 0;
		margin: -1% 0 0 -5%;

		input {
			width: 100%;
			height: 100%;
			font-size: 3.5em;
			font-weight: 700;
			padding: 0 0 0 calc(5%  + 62px);
			margin: 0;
			border: 1px solid colorme(grey);
			border-radius: 6px;
		}
	}
	@media screen and (max-width: page-break(large)) {
		form input {
			font-size: 2.6em;
		}
	}
	@media screen and (min-width: page-break(small)) and (max-width: page-break(medium)) {
		form input {
			font-size: 2em;
			padding: 0 0 0 calc(5%  + 42px);
		}
	}
	@media screen and (max-width: page-break(small)) {
		margin-top: 1em;

		form {
			margin: -0.5% 0 0 -5%;
		}
	}
}
.start-adding-car {
	text-align: right;
	// /padding: 4.5em 0 4.5em 2em;
	a {
		display: block;
		font-size: 1.8em;
		text-decoration: none;
		padding: 2em 0;
		margin-top: 0.8em;
	}
	@media screen and (min-width: page-break(small)) and (max-width: page-break(medium)) {
		a {
			font-size: 1.2em;
			padding: 4em 0;
		}
	}
	@media screen and (max-width: page-break(small)) {
		a {
			padding: 0.5em 0 2em;
		}
	}
}

/**
 * Server responses
 */
#server-responses {
	display: none;
	list-style: none;
	padding: 0;
	margin: 2em 0;
	overflow: hidden;

	li {
		position: relative;
		left: -100%;
		list-style: none;
		margin: 5px 0;
	}
}
.response {
	display: inline-block;
	position: relative;
	width: auto;
	// max-width: 480px;
	color:  colorme(black-n-blue);
	font-size: 1.6em;
	padding: 0.9em 3em 0.9em 2.2em;
	border: 1px solid colorme(grey);
	border-left: 7px solid colorme(grey);
	

	&.error { border-left-color: colorme(red) }
	&.warning { border-left-color: colorme(orange) }
	&.success { border-left-color: colorme(green) }

	.btn {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 0.85em;
		color: colorme(grey-dark);
		opacity: 0.7;
		padding: 0em 0.5em 0.5em;

	}
}

#msg {
	display: none;
	@extend .row;

	.nojs & {
		display: block;
	}
	
	.message {
		display: inline-block;
		position: relative;
		width: auto;
		// max-width: 480px;
		color:  black;
		font-size: 1.6em;
		padding: 0.9em 3em 0.9em 2.2em;
		border: 1px solid grey;
		border-left: 7px solid grey;
		margin-top: 1em;
		margin-right: 1em;
		
		&.error { border-left-color: red }
		&.warning { border-left-color: orange }
		&.success { border-left-color: green }

	}
}

/**
 * Main > Section
 */
.main-section {
	margin: 3.6em 0;
	
	.page & {
		margin: 6em 0 3.6em;
	}
}

/**
 * Product list
 */
.product-list-title {
	font-size: 2.6em;
	margin: 0;
}
.product-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	list-style: none;
	padding: 0;
	margin: 3.6em 0;
}
.product-item {
	margin-bottom: 3em;

	.item-prew {
		display: block;
		position: relative;
		
		img {
			width: 100%;
		}
	}

	.item-timer {
		position: absolute;
		right: 0;
		bottom: 3px;
		background: colorme(blue);
		color: colorme(colorme(white));
		font-size: 1.4em;
		font-weight: 700;
		padding: 0.2em 1.2em;

		> span {
			font-size: 0.8em;
		}
	}

	.condition-verified {
		position: absolute;
		left: 0;
		top: 0;
		background: colorme(green);
		color: colorme(white);
		font-size: 1.15em;
		padding: 0.3em 1em;
	}

	.item-header {
		h2 {
			font-size: 1.6em;
			line-height: 1.4;
			margin: 0.4em 0;

			a {
				color: colorme(black);
				text-decoration: none;
			}
		}
		.item-spec {
			color: colorme(grey-dark);
			font-size: 1.2em;
		}
	}

	.item-price {
		font-size: 1.8em;
		margin: 0.5em 0;
		
		.info-next-bid {
			display: block;
			font-size: 0.6em;
		}
		a {
			color: colorme(blue);
			text-decoration: none;
		}
	}
}

/**
 * Filters
 */
.total-hits {
	font-size: 1.4em;
}
.filters {
	font-size: 1.4em;
}
.filter-item {
	display: block;
	position: relative;
	float: left;
	height: 35px;
	margin-right: 1em;

	input {
		display: none;
	}

	ul {
		display: none;
		position: absolute;
		top: 34px;
		left: 0;
		width: 180px;
		max-height: 250px;
		list-style: none;
		padding: 0;
		margin: 0;
		border: 2px solid colorme(grey);
		overflow: hidden;
		overflow-y: auto;
		z-index: 90;

		&.active {
			display: block;
		}

		li {
			background: colorme(white);
		}
		a {
			display: block;
			text-align: center;
			color: colorme(black);
			padding: 0.5em 1em;

			&:hover {
				background: colorme(grey-light);
				color: colorme(blue);
			}
		}
	}

	.filter-selected {
		display: block;
		width: auto;
		height: 35px;
		color: colorme(blue);

		&:after {
			content: '\f107';
			font-family: 'Fontawesome';
			color: inherit;
			font-size: 1em;
			padding-left: 1em;
		}

		&:hover {
			cursor: pointer;
		}
	}
}

/**
 * Promo boxes frontpage
 */
.promo-boxes {

	.promo-box {
		position: relative;
		background: colorme(grey-light);
		padding: 2em 2em;
		margin-bottom: 2em;

		&:first-child {
			// for cta box
			padding-bottom: 7em;
		}

		h2 {
			border-bottom: 1px solid colorme(grey);
			font-size: 1.8em;
			padding-bottom: 0.3em;
		}
	}
	.promo-cta {
		background: colorme(green) ;
		color: colorme(white);
		text-align: center;
		padding: 1em;
		overflow: visible;
	}

	@media screen and (min-width: page-break(medium)) and (max-width: page-break(large)) {
		font-size: 0.9em;
	}
	@media screen and (min-width: page-break(small)) and (max-width: page-break(medium)) {
		font-size: 0.9em;
	}
}

/**
 * Ads for mobil and desktop.
 */
.ad {
	display: none;

	.ad-link {
		display: block;
		text-align: center;
		font-size: 1.4em;
		color: colorme(black-n-blue);
		border: 1px inset colorme(black-n-blue);

		img.ad-image {
			display: block;
			position: relative;
			top: -1px;
			left: -1px;
			width: 100%;
			max-width: 110%;
			width: calc(100% + 2px);
			margin-bottom: -2px;
		}
		img {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	
	&.ad-desktop {
		margin: 1em 0;

		@media screen and (min-width: 768px) {
			display: block;
		}
	}
	&.ad-mobile {
		padding-bottom: 2em;

		@media screen and (max-width: 768px ) {
			display: block;
		}
	}
}

/**
 * My page auctions
 */
.myauction-item {
	margin-bottom: .3em;
	border-bottom: 1px solid colorme(grey-light);
	
	&.highest-bidder {
		.your-bid p:last-child {
			color: colorme(blue);
			font-weight: 700;
			font-size: 2em;
		}
	}

	> div {
		position: relative;
		min-height: 60px;
		margin: 1em 0;

		&:last-child .btn {
			left: auto;
			right: 0;
		}
	}

	p {
		font-size: 1.4em;
		margin: 0 0 0.5em;
	}
	.btn {
		position: absolute;
		left: 0;
		width: auto;
		min-width: 125px;
		font-size: 1.3em;
	}

	@include breakpoint( nth($tablet, 2) ) {
		> div.btn-cell {
			width: 100%;
			text-align: left;
			padding-left: 0;

			.btn {
				left: 10px;
				right: auto;
				width: 60%;
			}
		}
	}

	@include breakpoint(nth($smartphone, 2)) {
		border-bottom: 1px solid colorme(grey);
		
		> div {
			min-height: 40px;
			
			 &:last-child {
				text-align: left;
			}
		}
		p {
			margin: 0 0 0.1em;
		}
		.nopadd-left div {
			padding-left: 0;
		}
	}
}

/**
 * Form flex grid
 */
ul.form-box {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;


	li {
		float: left;
		width: 100%;

		&.spaced {
			margin: 2em 0;
		}
		&.spaced-bottom {
			padding-bottom: 2em;
			margin-bottom: 6em;
			border-bottom: 1px solid colorme(grey);
		}
	}

	&.spaced-children li {
		margin: 2em 0;
	}

	&.spaced-children-bottom > li {
		padding-bottom: 2em;
		margin-bottom: 6em;
		border-bottom: 1px solid colorme(grey);
	}

	&.v-center {
		align-items: center;
	}

	&.inline {
		justify-content: flex-start;
		
		li {
			width: auto;
			margin-right: 2em;
		}
	}
	&.by-two > li {
		width: calc(50% - 10px);

		@media screen and (max-width: page-break(small)) {
			width: 100%;
		}
	}
	&.by-three > li {
		width: calc(33.333% - 10px);
		@media screen and (max-width: page-break(medium)) {
			width: calc( 50% - 10px );
		}
		@media screen and (max-width: page-break(small)) {
			width: 100%;
		}
	}
	&.by-four > li {
		width: calc(25% - 10px);
		@media screen and (max-width: page-break(medium)) {
			width: calc( 50% - 10px );
		}
		@media screen and (max-width: page-break(small)) {
			width: 100%;
		}
	}
	&.by-five > li {
		width: calc(20% - 10px);
		@media screen and (max-width: page-break(medium)) {
			width: calc( 50% - 10px );
		}
		@media screen and (max-width: page-break(small)) {
			width: 100%;
		}
	}

	input {
		margin-bottom: 3em;
	}

	@media screen and (max-width: page-break(xsmall)) {
		li ul li {
			margin: 0 0 2em;
		}
		&.block-on-small > li {
			width: 100%;
		}
		&.by-two > li {
			width: 75%;
		}
	}
}

/**
 * General form styles
 */
form {
	width: 100%;
	margin-bottom: 3em;

	fieldset {
		padding: 0;
		margin: 0;
		border: none;
		
		&:last-child {
			margin: 5em 0 0;
		}

		legend {
			display: block;
			width: 100%;
			font-size: 1.8em;
			padding-bottom: 1em;
			margin: 1em 0;
			border-bottom: 1px solid colorme(grey);
		}
	}

	label {
		display: inline-block;
		width: 100%;
		font-size: 1.4em;
		font-weight: 700;

		&.shift-down {
			padding-top: 7px;
		}
	}
	@mixin formfield_border() {
		border: 1px solid colorme(grey);
	}
	@mixin formfield_border_focus() {
		border-color: colorme(blue);
		box-shadow: 1px 1px 2px rgba(colorme(grey-dark), 0.6);
	}
	input {
		width: 100%;
		font-size: 1.4rem;
		padding: 0.6em;
		margin: 0.3em 0;
		@include formfield_border;

		&:focus {
			@include formfield_border_focus;
		}
		&:invalid {
			border-color: colorme(red);
		}
	}
	input[type='email'] {
		&:invalid {
			box-shadow: none;
		}
	}
	input[type='submit'] {
		width: auto;
	}
	input[type='reset'] {
		background: colorme(red);
		width: auto;
		color: colorme(white);
		font-size: 1.4em; 
		padding: 0.5em 2em;
		border: none;
	}
	input[disabled] {
		opacity: 0.8;
		background: #f0f0f0;
		color: colorme(black-n-blue);
	}
	
	textarea {
		width: 100%;
		height: 140px;
		font-size: 1.4rem;
		padding: 0.6em;
		margin: 0.3em 0;
		@include formfield_border;

		&:focus {
			@include formfield_border_focus;
		}
	}
	
	select {
		width: 100%;
		font-size: 1.4rem;
		padding: 0.6em;
		margin: 0.3em 0;
		@include formfield_border;
	}

	button {
		padding: 0.4em 1.5em;
	}
	
	.dz-image-upload {
		background: colorme(grey-light);
		width: 100%;
		min-height: 200px;

		.dz-error {
			color: colorme(red);

			.dz-image {
				opacity: 0.4;
			}
		}

		.dz-message {
			font-size: 1.8em;
			text-align: center;
			color: colorme( blue );
			padding-top: 1em;
		}
		.dz-preview {
			float: left;
			width: auto;
			margin: 2em;
		}
		.dz-success-mark,
		.dz-error-mark {
			display: none;
		}
	}

	.unit-after {
		display: block;
		line-height: 3.5em;
		input {
			float: left;
			width: 80%;
		}
		span {
			float: left;
			margin-left: 1em;
		}
	}
	.left-inline {
		line-height: 2.8em;
		
		input {
			float: right;
			width: 60%;
			text-align: right;
		}
	}
	.right-button {
		float: right;
		width: 60%;
	}

	.ui-radio {
		position: relative;

		input {
			position: absolute;
			left: 50%;
			visibility: hidden;
			width: 25px;
			height: 25px;
			opacity: 0;
			margin: 0 0 0 0 !important;
		}

		input ~ span {
			display: inline-block;
			position: relative;
			top: 6px;
			width: 25px;
			height: 25px;
			margin-right: 1em;
			border: 1px solid colorme(grey);
			border-radius: 50%;
			transition: background 0.4s ease;
		}
		input:checked ~ span {
			background: colorme(blue);
			border-color: transparent;
		}
		input:disabled ~ span {
			opacity: 0.2;
		}
	}

	.ui-check {
		line-height: 25px;
		> span {
			position: relative;
			display: block;
			float: left;
			width: 25px;
			height: 25px;
			margin-right: 1em;

			input {
				height: 100%;
				opacity: 0;
				margin: 0;
			}

			> span {
				position: absolute;
				top: 0;
				left: 0;
				background: colorme(white);
				width: 100%;
				height: 100%;
				border: 1px solid colorme(grey);
				z-index: -1;

				&::after {
					content: '\00A0';
					font-family: 'Fontawesome';
					position: absolute;
					top: 2px;
					left: 0;
					text-align: center;
					line-height: 1;
					color: colorme(blue);
					font-size: 1.4em;
				}
			}
			// change content on checked
			input:checked ~ span::after {
				content: '\f00c';
			}
			// change content on checked
			input:disabled  span {
				opacity: 0.2;
			}
		}

		@include breakpoint(nth($phone, 2)) {
			span { float: none; }
		}
	}
	.ui-select {
		display: block;
		position: relative;

		&::after {
			position: absolute;
			top: 1em;
			right: 1em;
			content: "\f078";
			font-family: "Fontawesome";
		}

		ul {
			position: absolute;
			top: 3em;
			left: 0;
			background: colorme(white);
			width: 100%;
			height: 1px;
			list-style: none;
			padding: 0;
			margin: 0;
			border: 1px solid colorme(grey);
			box-shadow: 2px 12px 12px rgba( colorme(grey-dark), 0.4 );
			opacity: 0;
			overflow: hidden;
			overflow-y: auto;
			z-index: 99;
			transition: opacity 0.3s ease-out;

			&.active {
				min-height: 6em;
				height: auto;
				max-height: 280px;
				opacity: 1;
			}
		}
		li {
			width: 100%;
		}
		button {
			background: transparent;
			width: 100%;
			text-align: left;
			padding: 0.7em;
			border: 1px solid colorme(grey-light);
			transition: all 300ms ease 300ms;

			&:hover {
				background: colorme(blue);
				color: colorme(white);
			}
		}
	}

	.validation-msg {
		margin: -3em 0;
	}
	.form-control {
		&.valid-input {
			border-color: colorme(green);
		}
		&.invalid-input {
			border-color: colorme(red);
		}
	}
}

.select2-container {
	margin: 0.3em 0 3em;
	
	.select2-selection--single {
		height: 39px;
		border-radius: 0;
		
		.select2-selection__rendered {
			padding-top: 5px;
		}
	}
}
.select2-dropdown {
	font-size: 1.4em;
	border-radius: 0;
}

/**
 * Form #user_subscribe_to_notice 
 */
#user_subscribe_to_notice {
	width: 60%;
	margin: 3em 0;

	.form-box {
		font-size: 1em;
		padding: 0;
		margin: 0;

		> li {
			margin: 0;
		}
	}
	select {
		width: 100%;
	}

	.select2-container {
		// font-size: 0.6em;
		font-weight: 400;
		// width: 450px;
		
		ul li {
			width: auto;
			margin: 0;
		}
		.select2-selection__choice {
			margin: 5px 5px 0 5px;
		}
		.select2-search input { margin-bottom: 0; }
	}

	@include breakpoint(nth($smartphone, 2)) {
		width: 100%;
		
		.text-right {
			text-align: left;
		}
	}
}

/**
 * Expandable panel
 */
.panel { 
	h3 {
		border-bottom: 1px solid colorme(grey);
	}
	
	ul, ol {
		font-size: 1.6em;
		padding: 0 0 0 1.6em;
		margin: 1em 0;
		
		ul, ol {
			font-size: 1em;
		}
		li {
			margin: 2em 0;
		}
	}
}
.expandable-control {
	display: inline-block;
	position: relative;
	background: #ffffff;
	width: 100%;
	font-size: 1em;
	text-align: left;
	padding: 0.2em 3em 0 0;
	margin: 0;
	border: none;
	outline: none;

	&::after {
		position: absolute;
		top: -0.1em;
		right: 0.2em;
		font-family: "Fontawesome";
		font-size: 2em;
		content: '\f107';
		color: colorme(blue);
		transition: transform 450ms easeme(easeOutSine);
	}
	&[aria-expanded="true"]::after {
		transform: rotate(-95deg);
	}

	@media screen and (max-width: page-break(small)) {
		font-size: 0.9em;

		&::after {
			font-size: 1.6em;
		}
	}
}
.expandable {
	legend {
		padding-bottom: 0.2em;
	}
}
.expandable-content {
	height: auto;
	max-height: 1px;
	padding-bottom: 1em;
	overflow: hidden;
	// transition: height 450ms easeme(easeOutSine);

	&.expanded {
		max-height: 10000px;
	}
}

/**
 * Login forms
 */
.form-wrapper {
	position: relative;
	margin-top: 70px;

	.form-switchers {
		position: absolute;
		top: -45px;
		left: 0;
		width: 100%;
		max-width: 578px;

		button {
			background: colorme(grey);
			min-width: 40%;
			height: 45px;
			margin: 0;

			&:first-child {
				margin-right: 1em;
			}

			&.active {
				background: colorme(blue);
				color: colorme(white);
			}

		}
	}
	.forms {
		max-width: 578px;
		border: 1px solid colorme(blue);

		form {
			display: none;
			padding: 2em;

			&.active {
				display: block;
			}
		}
	}

	.btn {
		min-width: 100%;
	}
}

// Forgotten password form
#forgotten-passwd {
	max-width: 571px;
}

/**
 * Single car
 */
.single-car {
	position: relative;
	
	.car-detail-slider {
		position: relative;
	}
	.condition-verified {
		position: absolute;
		top: 0;
		left: 0;
		background: colorme(green);
		color: colorme(white);
		z-index: 99;
		font-size: 1.4em;
		padding: 0.3em 1em;
	}
	header {
		margin-bottom: 2em;

		h1 {
			margin: 0 0 0.2em;

			span {
				word-break: keep-all;
			}

		}
		.spec {
			font-size: 1.8em;
		}
		@media all and (max-width: page-break(small)) {
			h1 { font-size: 2.5em; }
			.spec { font-size: 1.5em }
		}
	}
	
	.section-title {
		font-size: 1.8em;
		padding-bottom: 0.7em;
		border-bottom: 1px solid colorme(grey);
	}

	.single-car-content {
		section {
			margin: 3em 0 6em;
		}
		ul {
			list-style: none;
			font-size: 1.6em;
			padding: 0;
			margin: 1em 0 3em;

			li {
				margin: 1em 0;
			}

			&.inline-50 li {
				float: left;
				width: 50%;
				font-size: 0.8em;
				padding-right: 1em
			}
			&.block-50 li {
				width: 50%;
			}
			&.standard {
				list-style: disc;
				padding-left: 1em;
				font-size: 1.4em;
			}
		}
	}
}

// flexslider
.flexslider {
	margin: 0 0 2em;
	border: none;
	border-radius: 0;

	.slides li {
		// max-height: 375px;
		img {
			width: 100%;
		}
	}
}

.flex-direction-nav {
	a {
		$sizer: 60px;
		width: $sizer;
		height: $sizer;
		margin-top: -$sizer / 2;
		outline: none;
		overflow: hidden;

		&::before {
			width: 100%;
			height: 100%;
			color: colorme(white);
			line-height: 1;	
			font-size: 6em;
		}
	}
}
// carousel control slider
#carousel {
	width: 80%;
	margin: 0 auto;
	
	li {
		// height: 75px;
	}
	
	.flex-direction-nav a {
		&.flex-disabled {
			opacity: 1 !important;
			filter: alpha(opacity=1);
			z-index: 10;
		}
		&::before {
			color: colorme(blue);
		}

		&.flex-prev {
			left: -10%;
		}
		&.flex-next {
			right: -10%;
		}
	}
	
	@media screen and (max-width: page-break(small)) {
		display: none;
	}
}

// bid specs
.bid-specs {
	list-style: none;
	font-size: 0.9em;
	padding: 0;
	margin: 0;
	border-top: 2px solid colorme(grey);

	li {
		padding: 0em 0;
		border-bottom: 1px solid lighten( colorme(grey), 20 );

		&:last-child {
			border: none;
		}
	}

	form {
		margin: 2em 0;

		.waver {
			text-align: right;
			font-size: 1.2em;
		}
	}
	.with-timer {
		min-height: 58px;
		line-height: 58px;
		margin: 1em 0;
		font-size: 1.6em;

	}
	.remaining-time {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		width: 60%;
		line-height: 1.6;

		.countdown-finished {
			float: right;
			display: block;
			font-size: 2em;
		}

		.block {
			float: left;
			width: 20%;
			text-transform: uppercase;
			text-align: center;
			color: colorme(grey);

			.digits {
				float: left;
				background: colorme(grey-light);
				width: 100%;
				color: colorme(black);
				text-align: center;
				letter-spacing: 0.3em;
				text-indent: 0.3em;
				font-size: 1.4em;
				padding: 0.2em 0;
				border-radius: 3px;

				// &:first-child {
				// 	margin-right: 10%;
				// }
			}
		}
		@media all and (max-width: page-break(small)) {
			width: 90%;

			.block .digits { font-size: 1.2em; }
		}
	}
	.start-end-time {
		font-size: 1.2em;	
	}
}

/**
 * Verify bid overlay
 */
.overlay {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(colorme(black), 0.8);
	z-index: 9999;
	justify-content: center;
	align-items: center;

	&.active {
		display: flex;
	}

	.viewport {
		position: relative;
		background: colorme(white);
		width: 98%;
		max-width: 600px;
		// min-height: 400px;
		height: auto;
		max-height: 90%;
		padding-bottom: 5%;
		
		.close {
			position: absolute;
			top: 0.5em;
			right: 1em;
			font-size: 2em;
			z-index: 99;
			cursor: pointer;
		}

		.row {
			width: 105%;
			height: 100%;
			padding: 0 10% 0 5%;
			overflow: auto;
		}

		table {
			td, th {
				font-size: 1.4em;
				font-weight: 400;
				padding: 0.25em 0;
				
				&:last-child {
					text-align: right;
				}
			}
			
			span {
				font-weight: 700;
			}
		}
		.form-box li:last-child {
			text-align: right;
		}
		form {
			margin: 0;
		}
		input {
			margin: 0.5em 0;
		}
		input[type="submit"] {
			margin: 0;
		}
	}

	@media (max-width: page-break(small)) {
		font-size: 0.9em;
		.viewport {
			.form-box li:last-child {
				text-align: left;
			}
		}
	}
}

/**
 * Tooltips
 */
.tooltip-parent {
	position: relative;

	&:hover {
		.tooltip {
			max-height: 640px;
			opacity: 1;
		}
	}
}
.tooltip {
	position: absolute;
	top: 0em;
	right: 0;
	width: 320px;
	max-width: 100vw;
	height: auto;
	max-height: 0px;
	opacity: 0;
	overflow: hidden;
	z-index: 99;
	transition: max-height 1ms 100ms, opacity 400ms 300ms;
	
	.tooltip-content {
		display: inline-block;
		background: colorme(white);
		width: 100%;
		font-size: 1.2em;
		text-align: left;
		color: colorme(black-n-blue);
		padding: 1em;
		margin-top: 2em;
		border: 1px solid colorme(grey);
	}
	.tooltip-title {
		display: inline-block;
		width: 100%;
		font-size: 1.3em;
		margin-bottom: 0.3em;
	}
	.tooltip-link {
		display: inline-block;
		width: 100%;
		color: colorme(blue);
		text-decoration: underline; 
		margin-top: 1em;
	}
}

/**
 * Table styles
 */
table {
	width: 100%;
	font-size: 1.4em;
	border-collapse: collapse;
	border-spacing: 0;
	border: none;

	th {
		font-weight: 700;
		text-align: left;
	}


	&.bid-history {
		th, td {
			padding: 7px 0;
			
			&:last-child {
				text-align: right;
			}
		}
		// some padding to atone for ,- after price
		th:last-child { padding-right: 7px; }

		tbody {
			tr {
				border-bottom: 1px solid darken(colorme(grey-light), 5);
			
				&.bid_max {
					color: colorme(grey-dark);
					td:first-child::after {
						content: '\f021';
						font-family: 'FontAwesome';
						color: colorme(blue);
						padding-left: 1em;
					}
				}
				&.your-bid {
					td {
						color: colorme(blue);
						&:last-child {
							font-weight: 700;
						}
					}
				}
			}
		}
		tfoot {
			color: colorme(blue);
		}
	}
}

/**
 * Is this the right reg number table
 */
.its-my-car {
	height: 1px;
	padding-top: 1px;
	overflow: hidden;
	transition: height 420ms easeme(easeInCubic);

	&.active {
		height: 230px;
	}

	@include breakpoint(nth($smartphone, 2)) {
		h1 {
			font-size: 1.7em;
		}
		h2 {
			font-size: 1.6em;
		}
		.btn {
			margin-bottom: 1em;
		}
	}
}
#dude-wheres-my-car {
	max-width: 480px;
	margin-bottom: 3em;

	tr {
		background: colorme(white);
	}

	th, td {
		width: 50%;
		padding: 0.5em;
		text-align: left;
		border: 1px solid colorme(grey);

		&:last-child {
			background: #f0f0f0;
		}
	}
	td:last-child {
		text-align: right;
	}
}

/**
 * CTABS
 */
.ctabs {
	display: inline-block;
	width: 100%;
}
// ul
ul.ctabs-tabs {
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		display: inline-block;
		border: 1px solid colorme(grey);

		a {
			display: inline-block;
			padding: 0.4em 2.5em;

			&.active {
				background: colorme(blue);
				color: colorme(white);
			}
		}
	}

	@include breakpoint(nth($smartphone,2)) {
		li {
			margin-bottom: 0;

			a {
				font-size: 1em;
				padding: 0.2em 0.75em;
			}
		}
	}
	@include breakpoint(nth($phone,2)) {
		li {

			a {
				font-size: 0.8em;
			}
		}
	}

}
.ctabs-content {
	.ctabs-tab {
		display: none;

		&.active {
			display: block;
		}
	}
}

/**
 * TINGLE MODAL JS MODULE
 */
// close button
.tingle-modal__closeIcon {
	display: inline-block;
	width: 100%;
	height: 100%;
	color: transparent;

	&::after {
		position: relative;
		left: - 0.65em;
		content: '\f00d';
		font-family: "FontAwesome";
		font-size: 0.7em;
		color: colorme(white);
	}
}

/**
 * IZY tooltip notify
 */
.iziToast-wrapper.iziToast-wrapper-topRight {
	top: 145px;
	
	.iziToast {
		i { display: none; }
		p {
			color: colorme(white);
			font-weight: 700;
			font-size: 1.3em;
		}
	}
	.iziToast.iziToast-color-green {
		background: colorme(green);
		border-color: transparent;
	}
	.iziToast.iziToast-color-yellow {
		background: colorme(orange);
		border-color: transparent;
		p {
			color: colorme(grey-dark);
		}
	}
	.iziToast.iziToast-color-red {
		background: colorme(redlight);
		border-color: transparent;
	}
	.iziToast.iziToast-color-red {
		background: colorme(blue);
		border-color: transparent;
	}

	@include breakpoint(568px) {
		.iziToast p { font-size: 1.2em; }
	}
}

/**
 * MAIN FOOTER
 */
.main-footer {
	background: colorme(black);
	padding: 3em 0;

	.secondary-logo {
		img {
			min-width: 160px;
			max-width: 200px;
		}
	}

	address {
		font-style: normal;
		font-size: 1.2em;
		color: colorme(grey);
		margin: 2em 0 0;

		a {
			color: colorme(white);
			font-weight: 700;
		}
	}

	.secondary-info {
		font-size: 1.4em;
		text-align: right;

		.social-link {
			margin-top: 1em;
			a {
				color: colorme(white);
			}
		}

		.cookie-link {
			margin-top: 2.5em;	
			a {
				color: colorme(grey);
			}
		}
	}

	@media screen and (max-width: page-break(small)) {
		text-align: center;
		.secondary-logo {
			text-align: center;
		}
		.secondary-info {
			text-align: inherit;

			.cookie-link {
				margin-top: 1em;
			}
		}
	}
}